name: "Dependabot Auto Merge"

on:
  pull_request:

permissions:
  contents: write
  pull-requests: write

jobs:
  auto-merge:
    uses: gawakawa/.github/.github/workflows/dependabot-auto-merge.yml@main
    secrets: inherit
