name: "Update PR Branches"

on:
  push:
    branches:
      - main

jobs:
  update:
    uses: gawakawa/.github/.github/workflows/update-pr-branches.yml@main
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
